<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/signup.css">
    <title>signup</title>
</head>
<body>
    <div class="signup-form">
        <h1 class="title">회원가입</h1> <!--div안에 넣어주기? -->
        <div class="already">이미 해후 회원이신가요? <a href="">로그인</a></div>
        <form action="">
            <div class="gender-container"> 
                <input type="button" value="남" class="man gender btn">
                <input type="button" value="여" class="woman gender btn">
            </div>
            <div class="text-container">
                <input type="text" placeholder="아이디" class="id text"><br>
                <input type="text" placeholder="비밀번호" class="password text"><br>
                <input type="text" placeholder="비밀번호 확인" class="passwordCheck text"><br>
                <input type="text" placeholder="이름" class="name text"><br>
                <input type="text" placeholder="생년월일(YYYYMMDD)" class="birth text"><br>
                <input type="text" placeholder="이메일" class="email text"><br>
                <input type="text" placeholder="닉네임" class="nickname text"><br>
                <input type="text" placeholder="전화번호" class="phonenumber text">
            </div>
            <div class="signup-end"> 
                <input type="button" value="취소" class="cancel end btn">
                <input type="button" value="다음" class="next end btn">
        </form>
    </div>
    
</body>
</html>